#body{
    background-image: url("../images/blogbg.jpg");
    /*background-image: linear-gradient(120deg, #155799, #159957);*/
    -webkit-background-size: cover;
    padding: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: inherit;

}

@font-face {
    font-family: shaonv;/*定义font的名字*/
    src: url("../font/women.ttf");/*把下载的字体文件引入进来*/
}
nav ul{
    list-style: none;
}


nav ul li figure span{
    display: inline-block;
}
nav ul li figure a{
    font-family: shaonv;
    font-size: 20px;
    color: #000000;
    display: inline-block;
}

span.unbrella{
    background: url('../images/fig.png') no-repeat -117px -2px;
    width: 44px;
    height: 45px;
}
span.apple{
    background: url('../images/fig.png') no-repeat -4px -7px;
    width: 32px;
    height: 36px;
}
span.pencil{
    background: url('../images/fig.png') no-repeat -186px -3px;
    width: 33px;
    height: 38px;
}
span.baba{
    background: url('../images/fig.png') no-repeat -60px -2px;
    width: 33px;
    height: 47px;
}
