.t-container{
    width: 80%;
    /*background-color: #ccc;*/
    min-height: 550px;
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/
    border: 2px solid #dddddd;
    box-shadow: 0px 0px 1em 0.5em #ddd;
}
.t-container header{
    background-color: #e5132e;
    height: 10em;
    width: 100%;
    position: relative;
}
.t-container header img{
    margin-left: 3em;
    margin-top: 1em;
    height: 8em;
    width: 8em;
}
section .name{
    position: absolute;
    top: 1.4em;
    left: 5.5em;
    color: rgba(255,255,255,0.93);
    font-size: 2.5em;
    font-weight: bold;
}
.name small{
    margin-left: 1em;
    font-size: 0.7em;
    font-weight: bold;
}

header .san{
    position: absolute;
    left: 5.5em;
    top: 9.5em;
    border-top: 20px solid #e5132e;
    border-right: 20px solid transparent;
    border-left:20px solid transparent;
}

@font-face {
    font-family: shaonv;
    src: url("../font/women.ttf");
}

.block {
    height: 250px;
    overflow: hidden;
}
.block .line{
    position: relative;
    float: left;
    display: inline-block;
    border-right: 2px solid #e5132e;
    height: 1000px;
    width: 6.7em;
    
}
.block .line .circle {
    top: 2em;
    position: absolute;
    right: -1.25em;
    background-color: #e5132e;
    width: 40px;
    height: 40px;
    border-width: 0px;
    border-radius: 50%;
}
.block section{
    float: left;
    width:80% ;
    margin-left: 3em;
    margin-top: 2em;
}
section .s-theme{
   color: #e5132e;
    font-family: shaonv;
    font-size: 1.7em;
    margin-bottom:20px;
}
section .big-other{
    color: #212121;
    font-weight: 700;
    margin: 15px 0;
    font-size: 18px;
}
section .s-other{
    color: #606060;
    margin: 10px 0;
    font-size: 18px;
}
section .s-other a{
    color: deepskyblue;
}
section .s-other small{
    color: #a0a0a0;
    font-size: 10px;
}

.first .mar{
    margin-top: 4em;
}
.first .circle{
    top: 5em !important;
}
.second .block{
    height: 260px;
}

.squre{
    display: inline-block;
    background-color: #727171;
    height: 15px;
    width: 15px;
    transform:rotate(45deg);
    margin-right: 5px;
}
.three .block{
    height: 900px;
}
span{
    display: inline-block;
    margin-left: 6px;
    margin-top: 6px;
}
span.f-pic{
    background: url('../images/fig.png') no-repeat -6px -51px;
    width: 27px;
    height: 28px;
}
span.s-pic{
    background: url('../images/fig.png') no-repeat -155px -50px;
    width: 30px;
    height: 30px;
}
span.t-pic{
    background: url('../images/fig.png') no-repeat -106px -51px;
    width: 27px;
    height: 27px;
}
span.fo-pic{
    background: url('../images/fig.png') no-repeat -55px -50px;
    width: 29px;
    height: 30px;
}





